<h1>Home Page</h1>

<img src="" alt="Header Pic">

<p>Features Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus excepturi repellendus pariatur quam provident consequuntur vitae error labore soluta explicabo, possimus illum ipsam accusamus, at, iste inventore. Delectus, quaerat distinctio!</p>

<img src="" alt="pic2">

<p>Forum Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est repellat tempore officiis, dicta, eveniet consectetur reiciendis nihil minus temporibus autem iusto quod natus voluptates ea cupiditate enim cumque saepe facilis.</p>

<p><map name=""></map></p>